.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Title {
  position: absolute;
  top: 10px;

}
.App-logo {
  position: absolute;
  height: 40vmin;
  pointer-events: none;
  left: 10px; 
  top: 10px;
  animation: App-logo-spin infinite 20s linear;
}

.button-group {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: limegreen; /* Lime green color */
  border: none;
  width: 100px; /* Square shape */
  height: 50px; /* Square shape */
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes spin-video {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
  
}

.spinning-video {
  animation: spin-video infinite 15s linear; /* Adjust speed */
}

/* Used for Authentication styling, Login and Sign up JavaScript Files*/
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.form-box {
  margin: 10px;
}

.form-title {
  font-size: 40px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: limegreen;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.form-text {
  font-size: 20px;
}
.form-input {
  display: block;
  width: 94%;
  margin: 10px 0;
  padding: 10px;
}

.form-link {
  color: DodgerBlue;
  font-size: 18px;
}

.form-logo {
  height: 30vmin;
}

.form-header {
  margin: 10px 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


